body{
    background-color: #fff;
}

.container {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;

}

nav{
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: space-around;
}
.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: #fff;
}

.logo {
    margin-left: 50px;
  font-weight: bold;
  font-size: 20px;
  color: #5a2580;
}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.search input {
  height:40px ;
  width: 100%;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 20px;
  margin-top: -20px;
  margin-left: -160px;
}

.user-icon{
    display: flex;
    background-color: #fff;
    border-radius: 100%;
    width: 10%;
    height: 50px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-right: 50px;
    margin-left: -50px;
}

.avatar {
  border-radius: 50%;
}

.sectionHeader{
    margin-left: 80px;
}
.box2{
    margin-top: -28px;
    margin-left: 600px;
    width:40%;
    display: flex;
     align-items: center; /* จัดให้อยู่กึ่งกลางแนวตั้ง */
  justify-content: space-between; /* จัดระยะห่างระหว่างแต่ละไอเท็ม */

}
.stats {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
}

.stats h4 {
  font-size: 14px;
  color: #777;
}

.stats p {
  font-weight: bold;
  font-size: 20px;
}

.divider {

    width: 90%;
  border: none;
  border-top: 3px solid #a056e5;
  margin: 20px 0 20px 30px;
}

.sectionHeader {
  font-weight: bold;
  margin-bottom: 10px;
}

.auctionCard {
    margin-top: 30px;
    width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  margin-left: 50px;
}

.productImg {
  border-radius: 8px;
}

.productInfo {
  flex: 1;
  margin-left: 15px;
}

.details {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 62%;

}
.details p{
    margin-left: 22px;

}




.active {
  color: #18B33C;
  background: #16cd418b;
  padding: 4px 10px;
  border-radius: 15px;
  font-size: 15px;
  
}

.waiting {
  color: #E8B006;
  background: #ffc1076f;
  padding: 4px 10px;
  border-radius: 15px;
  font-size: 15px;
  margin-right: 40px;
}

.viewBtn {
  background: #f44336;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 20px;
  margin-right: 50px;
}

.acceptBtn {
  background: #4caf50;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 5px 15px;
  cursor: pointer;
}

.deleteBtn {
  background: #f44336;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 5px 15px;
  cursor: pointer;
  margin-top: 10px;
}

.newAuction {
    margin-left:50px ;
    background-color: #fff;
    margin-top: 50px;
    height: 50px;
    width: 92%;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    padding-top: 15px;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.requestHeader {
  font-weight: bold;
  margin-bottom: 10px;
}


.text{
    font-size: 20px;
    font-weight: bold;
    margin-left: 60px;
    margin-bottom: 20px;
}

.acc-view{
    display: flex;
     flex-direction: column;
}

