

.container {
    background-color: #fff;
    font-family: Arial, sans-serif;
    color: #333;

}

nav{
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: space-around;
}
.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: #fff;
}

.logo {
    margin-left: 50px;
  font-weight: bold;
  font-size: 20px;
  color: #5a2580;
}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.search input {
  height:40px ;
  width: 100%;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 20px;
  margin-top: -20px;
  margin-left: -160px;
}

.user-icon{
    display: flex;
    background-color: #fff;
    border-radius: 100%;
    width: 10%;
    height: 50px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-right: 50px;
    margin-left: -50px;
}


.title {
  font-size: 28px;
  margin-bottom: 20px;
  margin-left: 10%;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.image-container img {
  max-width: 100%;
  border-radius: 10px;
}

.timer {
  color: red;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  margin-bottom: 10px;
  margin-right: 20%;
  
}

.description {
  margin-bottom: 20px;
  width: 80%;
  margin-left: 8%;
}

.description p {
  line-height: 1.5;
}

.info {
  margin-top: 20px;
  font-size: 12px;
  margin-left: 8%;
  margin-bottom: 50px;
}

.label {
  color: #000; /* สีเทาอ่อน */
  font-weight: bold;
}

.value {
  color: #00000063; /* สีม่วง */
  font-weight: 600;
}



.bit-donet{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left: 8%;

}
.bitNum{
    margin-top: 10px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left: 8%;
    margin-bottom: 5%;

}

.Donet{
    margin-right: 50px;
}

.recent-bids {
    margin-left: 7.5%;
  margin-bottom: 20px;
}


.recent-bids table {
    border-radius: 10px;
    background-color: #FAFAFA;
    margin-left: 10px;
  width: 80%;
  border-collapse: collapse;
}



.recent-bids th{
      text-align: left;
  padding: 8px 30px 10px 35px;
  border-bottom: 1px solid #ccc;
}


 .recent-bids td {
  text-align: left;
  padding: 30px 0 40px 30px ;
  border-bottom: 1px solid #ccc;
}

.amo-time{
    color: #82578F;
}

.back-button {
    width: 3%;
  padding: 10px 20px;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 5px;
    float: right;
    margin-right: 10%;
}
